
.totalPayCard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 18%;
    background-color: #e0e0e0;
    color: white;
    text-align: center;
    border-radius: 10;
}

.priceText {
    font-size: calc(100vw * 0.08);
}

.listItemText {
    font-size: calc(100vw * 0.06);
}

.totalPriceText {
    margin-top: 2%;
    font-size: calc(100vw * 0.08);
    color: black;
}

.stripePayButtonContainer {
    margin: 2%;
}

.listContainer {
    overflow:auto; 
    position:absolute; 
    top: 0;
    left:0; 
    right:0; 
    bottom:0; 
    height: 82%;
}

.quantityInput {
    float: right; 
    margin-right: 6%;
}

#list {
    list-style-type: none;
}