
.scanner {
    height: 95vh; /* For 100% screen height */
    width:  100vw; /* For 100% screen width */
    margin: 0;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}